
body{
    font-family: Helvetica, arial, sans-serif;
    background-color:  hsl(200, 50%, 90%);  
}
h1 {
    color: hsl(244, 88%, 66%);
    text-align: center;
}

#contenedor-izquierdo{
    left: 0px;
}
#contenedor-derecho{
    right: 0px;
}

.contenedor{
    background-color: rgb(174, 188, 228);
    width: 15%;
    height: 100%;
    position: absolute;
    padding: 10px;
    top: 0px; 
}
.contenedor-componente{
    background-color: rgb(250, 90%,100%);
    left: 10%;
    margin: 0.3em;
}
.contenedor-componente{
    position: relative;
    height: 10.5%;
    left: 20%;
}
.componente{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
}
.cielo{
    position: absolute;
    background: #f1cfae;
    height: 80%;
    width: 60%;
    z-index: 1;
    opacity: 0.5;
    bottom: 0.5%;
    border-radius: 1rem  ;
    left: 20%;   
}
.suelo{
    background: #99e08d;
    position: absolute;
    width: 60%;
    height: 45%;
    z-index: -1;
    opacity: 0.7;
    border-radius: 0 0 1rem 1rem;
    bottom: 1%;
    left: 20%;  
}


